<?xml version="1.0"?>

<model>
  <name>Atacama Z1</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Ussama Naal</name>
    <email>ussama.naal@nasa.gov</email>
  </author>

  <description>
    The Atacama Y1A terrain: The associated heightmap resolution is 2048*2048 with a pixel scale of 0.0024 meters.
    For more details refer to: https://ti.arc.nasa.gov/dataset/frost/
  </description>

  <depend>
  </depend>
</model>
