<?xml version="1.0"?>

<model>
  <name>Atacama Z1</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Ussama Naal</name>
    <email>ussama.naal@nasa.gov</email>
  </author>

  <description>
    The Atacama Z1 terrain
  </description>

  <depend>
  </depend>
</model>
